# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
venv.bak/
*virtualenv_support

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Other common ignored files
# Logs
*.log
log/

# OS-specific temporary files
[Tt]emp/
*~

# Package specific files
dist/
build/
*.egg-info/

# Pygame or Python cache
.cache/

# Documentation Media
.media/

# User-specific high score file
high_score.txt
